@{
    ViewBag.Title = "Mvc Model Kullanımı ve Model Binding";
}
<h1>@ViewBag.Title</h1>

<p>
    Class ları Mvc de model olarak tanımlayıp veri taşımada kullanabilmekteyiz.
</p>

<p>
    1 sayfada 1 tane model class ı kullanılabilmekteyiz.
</p>

<p>
    1 View a model tanımlamak için sayfanın en üstüne @@ ifadesinden sonra ilgili class adını yazmalıyız
</p>

<ul>
    <li>
        <a asp-action="KullaniciDetay">Kullanıcı Detay</a>
    </li>
    <li>
        <a asp-action="AdresDetay">Adres Detay</a>
    </li>
    <li>
        <a asp-action="UyeSayfasi">Üye Sayfası Detay</a>
    </li>
</ul>