
@{
    ViewBag.Title = "MVC Partial Kullanımı";
}

@section OzelCss {
    <style>
        .active { background-color: silver; }
    </style>
}

<h2>MVC Partial Kullanımı</h2>

<p>
    Partial parça anlamına gelir ve kod sayısı fazlalaşan ve karmaşıklaşan uygulamalarda sayfalarımızı parçalara ayırarak yönetmemizi kolaylaştırır.
</p>

<h3>
    Klasik Yöntemle Kullanımı
</h3>

<ul class="navbar-nav">
    @Html.Partial("_PartialMenu")
</ul>

<h3>
    Partial Tag Helper Kullanımı
</h3>

<ul class="navbar-nav">
    <partial name="_PartialMenu" />
</ul>

<h3>
    PartialAsync Kullanımı
</h3>

<ul class="navbar-nav">
    @await Html.PartialAsync("_PartialMenu")
</ul>

<h3>Partialda Model Kullanımı</h3>

<partial name="_PartialModelKullanimi" />

<h3>Partialin Asenkron Çağrılması</h3>

@await Html.PartialAsync("_PartialModelKullanimi")