@{
    ViewData["Title"] = "Area Kullanımı";
}

<h1>
    @ViewData["Title"]
</h1>

<p>
    Mvc de Admin paneli oluşturmak için Area kullanılır.
    Proje içerisinde bir blog sitesi oluşturmak için de area kullanılır.
</p>

<p>
    Özetle Uygulama içerisinde çalışan iç uygulamalar yapısında kendi controller ve view ları olan farklı tasarımlar kullanabileceğimiz alanlara area denir.
</p>

<h3>Projeye Area Ekleme</h3>

<p class="alert alert-warning">
    Projeye Sağ Tık > Açılan menüden Add > New scaffolded item.. > (Vscode da projeye new folder > Areas adında Admin isminde klasör ekle) Admin klasörü altına Controllers, Models ve Views klasörlerini ekle.
</p>

<h4>Admin Area Örneği</h4>

<a href="/Admin">Admin Paneline Git</a>