@model NisanAspNetMVCEgitimi.Models.OrnekModel
@{
}
<h1>İNSAN KAYNAKLARI POLİTİKASI</h1>

<img src="~/images/infotechacademyik.jpg" />

<div>
    Sahip olduğu başarı ve hizmet sunduğu 1000+ öğrenci ve kurumsal müşterisine, çalışanlarının gücü ve desteği ile ulaşan ve en önemli değerinin insan kaynağı olduğuna inanan Infotech Academy;
    <br /><br />
    Görevinin gerektirdiği bilgi ve beceriye sahip kaliteli insan gücünü bünyesine kazandırmayı,
    Çalışanlarının yaratıcılıklarını kullanabilecekleri ve fikirlerini dile getirebilecekleri etkin bir iletişim ve motivasyon ortamı sağlamayı,
    Farklı bakış açıları ve bilgi birikimlerini bir arada barındıran katılımcı yönetim politikası izlemeyi,
    Çalışanlarının kişisel ve mesleki gelişimlerini ön planda tutarak, sürekli öğrenme ve gelişimi desteklemeyi,
    Öğrenme ve gelişmeye istekli, teknolojisini sürekli geliştiren
    Çevreye, iş sağlığına ve güvenliğine duyarlı,
    Yenilikçi insan kaynakları uygulamalarını hayata geçirerek çalışanlarına daima en iyiyi sunmayı insan kaynakları politikası olarak benimsemiştir.
</div>