
@{
    ViewData["Title"] = "Mvc Cookie (Çerez) Kullanımı";
}
<h1>Mvc Cookie (Çerez) Kullanımı</h1>

<p>
    Çerezler kullanıcının cihazında saklanan küçük verilerdir.
    <br />
    Güvenlik gerektiren verileri burada kullanmak sakıncalıdır.
    <br />
    Kullanıcıyı tanımlamak ve sonraki girişinde tanıyabilmek için kullanılır.
</p>

<h2>Cookie Oluştur</h2>

<form asp-action="CookieOlustur">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="text" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a asp-action="CookieOku">
    Cookie Oku
</a>

@Html.Raw(TempData["Mesaj"])