
@{
    ViewData["Title"] = "Mvc de Model Validation Kullanımı";
}
<h1>Mvc de Model Validation Kullanımı</h1>

<p>
    Model validation kullanıcıdan alınacak verilerin veri tiplerini doğrulamak için kullanılır.
</p>

<p>
    Mesela kullanıcıdan Email bilgisi istedik, o bize e mail formatına uymayan düz yazı gönderirse bu validationa takılacak ve geçersiz değer olarak kullanıcıya mesaj gösterilecektir.
</p>

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="YeniUye">YeniUye Sayfası</a>
    </li>
</ul>