<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menünün Devamı
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="MVC08Partial" asp-action="Index">Partial</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC09ViewResults" asp-action="Index">ViewResults</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC10FileUpload" asp-action="Index">FileUpload</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC11Cookie" asp-action="Index">Cookie-Çerezler</a>
        </li>

    </ul>
</div>

