<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menünün Devamı
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="MVC08Partial" asp-action="Index">Partial</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC09ViewResults" asp-action="Index">ViewResults</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC10FileUpload" asp-action="Index">FileUpload</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC11Cookie" asp-action="Index">Cookie-Çerezler</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC12Session" asp-action="Index">Session-Oturum</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC13StringFormat" asp-action="Index">String Format</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC14AppSetting" asp-action="Index">App Setting</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC15FiltersUsing" asp-action="Index">Filters Using</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC16HttpContext" asp-action="Index">HttpContext</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC17ViewComponent" asp-action="Index">ViewComponent</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC18Areas" asp-action="Index">Area Kullanımı</a>
        </li>
    </ul>
</div>

