@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Asp.Net MVC Eğitimi</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Bir Controller da varsayılan sayfa Index dir</h3>

<p>
    Dolayısıyla Sadece Home yazarsak Mvc varsayılan olarak Index isimli action ı çalıştırır.
    <br />
    O da ekrana Index.cshtml dosyasını getirir.
</p>