
@{
    ViewBag.Title = "Mvc Section Kullanımı";
}

<h2>Mvc Section Kullanımı</h2>

<section>
    Sayfa içerisinde bir bölüm
</section>

@section Scripts{
    <script>
        // alert("Scripts isimli section çalıştı!")
        console.log("Bu yazı section ile gönderildi!")
    </script>
    <script src="/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <script>
        // js kodları buraya
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 3,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
    </script>
}

@section OzelIcerik {
    <section class="alert alert-success">
        Kampanyalı Ürünlerimizi Gördünüz mü?
    </section>
}

@section OzelCss {
    <link rel="stylesheet" href="/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <style>
        body { background-color: red; color: white; }
    </style>
}