
@{
    ViewBag.Title = "MVC15 Filters Using";
}

<h2>MVC15 Filters Using</h2>

<p>
    MVC de uygulamaya yapılacak istekler için hazır filtreler bulunmaktadır.
    <br />
    Bununla beraber kendi filtrelerimizi de oluşturabilmekteyiz.
</p>

<a href="/MVC15FiltersUsing/FiltreKullanimi">Filtre Kullanimi</a>

<h2>
    Authorize Filter
</h2>

<p class="alert alert-danger">
    Admin paneli görevi gören ekranlarda crud işlemleri yapılıyorsa güvenliği sağlamak için kullanılan bir .net bileşenidir.
    <br />
    Korumaya almak istediğimiz action veya controller ın üzerine ekleyerek kullanabiliriz.
    <br />
    Ayrıca Program.cs dosyasına authentication kodlarını eklememiz gerekir.
</p>

<a href="/MVC15FiltersUsing/UyeGuncelle/1">Uye Guncelle</a>